/* Path: src\App.js */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 50px auto;
    padding: 20px;
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

label {
    font-size: 1.2em;
    margin-bottom: 10px;
}

input[type="text"] {
    padding: 10px;
    font-size: 1.2em;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    margin-top: 20px;
    text-align: center;
}

.valid {
    color: green;
}

.invalid {
    color: red;
}
